export(read_musicxml)
export(read_musicxml_string)
export(validate_muse_score)
export(muse_validation_problems)
export(muse_table)
export(feature_melisma_density)
export(feature_contour)
export(feature_interval_profiles)
export(muse_permutation)
export(muse_pianoroll)
export(as_muse_score)
export(is_muse_score)
S3method(print,muse_score)
importFrom(xml2,read_xml)
